body {
  margin: 0;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.slider {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 60px auto;
  overflow: hidden;
}

/* TRACK */
.track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
  position: relative;
  aspect-ratio: 16 / 9;
}

.img {
  position: absolute;
  transition: all 0.6s ease;
}

.desktop {
  width: clamp(250px, 65%, 800px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mobile {
  width: clamp(120px, 23%, 300px);
  right: 10%;
  top: -10%;
  z-index: 1;
  transform: scale(0.5);
  filter: brightness(0.5);
}

.slide.active .desktop {
  transform: translate(-80%, -40%) scale(0.85);
  filter: brightness(0.5);
}

.slide.active .mobile {
  z-index: 3;
  transform: translate(-125%, 28%) scale(1);
  filter: brightness(1);
}

.img img {
  width: 100%;
  display: block;
}

.switch {
  position: absolute;
  top: 0%;
  right: 30%;
  transform: translateX(-50%);
  font-size: 32px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 20px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}

.prev, .next {
  z-index: 5;
}

.prev { left: 5px; }
.next { right: 5px; }

/* PAGINATION */
.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
}

.dot.active {
  background: #222;
}

/* MOBILE */
@media screen and (max-width: 550px) {
  .desktop {
    width: 90%;
    transform: translate(-50%, -50%) scale(1);
  }

  .mobile {
    width: 50%;
    right: -15%;
    top: -20%;
    bottom: 0;
    transform: scale(0.4);
  }

  .slide.active .desktop {
    transform: translate(-60%, -60%) scale(0.8);
  }

  .slide.active .mobile {
    transform: translate(-80%, 28%) scale(1);
  }

  .switch {
    right: 50%;
    transform: translateX(50%);
  }
}